@page "/counter"

<PageTitle>BucHunt</PageTitle>

<h1>BucHunt</h1>

<body> 
<div id="wrapper">
{
        @{
            var q1 = "Hello World!";
            var l1 = "library";
            var q2 = "Hello World!";
            var l2 = "library";
            var q3 = "Hello World!";
            var l3 = "library";
            var q4 = "Hello World!";
            var l4 = "library";
            var q5 = "Hello World!";
            var l5 = "library";
            var q6 = "Hello World!";
            var l6 = "library";
            var q7 = "Hello World!";
            var l7 = "library";
            var q8 = "Hello World!";
            var l8 = "library";
            var q9 = "Hello World!";
            var l9 = "library";
            var q10 = "Hello World!";
            var l10 = "library";
            <section class='pw'></section><!--<h2>BucHunt</h2> was inc luded in this line, but removed due to redundency-->

        <div class="container">
        <div class="row">
          <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Location</th>
                        <th>Answer</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <!-- Task entries. <tr> are the rows, <th> are the entries, organized the same way as the tHead entries
                    above indicate. Final entry should be a confirm button for the third entry for that row,
                    and the third entrie should always be a form, if ever implemented-->
                <tbody>
                    <tr><!--style width defined in this row defines it for the entire table. Width style decisions on later entries are ineffective-->
                        <td style="width:50%">@q1</td><!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>-->
                        <td style="width:15%">@l1</td><!--incididunt</td>-->
                        <td style="width:15%">ut labore</td>
                        <td style="width:15%">et dolore</td>
                    </tr>
                    <tr>
                        <td>@q2</td>
                        <td>@l2</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q3</td>
                        <td>@l3</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q4</td>
                        <td>@l4</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q5</td>
                        <td>@l5</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q6</td>
                        <td>@l6</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q7</td>
                        <td>@l7</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q8</td>
                        <td>@l8</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q9</td>
                        <td>@l9</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                    <tr>
                        <td>@q10</td>
                        <td>@l10</td>
                        <td>ut labore</td>
                        <td>et dolore</td>
                    </tr>
                </tbody>
            </table>
                </div>
        <div class="col-md-6">
        <div id="map"></div>
        </div>
        </div>
        </div>
    }
}
    </div>
</body>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*/
